name: windows-latest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2

    - name: "Build/Test"
      shell: cmd
      env:
        MKN_CL_PREFERRED: 1
      run: | # /bin/link interferes with cl/link.exe
        bash -c "rm /bin/link"
        bash -c "curl -Lo mkn.exe https://github.com/PhilipDeegan/mkn/releases/download/latest/mkn.exe"
        call "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
        bash -c 'KLOG=3 ./mkn clean build run -dtKOp test -a "-EHsc -std:c++11 -bigobj -D_SPARSEHASH_CI_TESTING_"'

